/* Center the entire content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #071927;
}

/* Content inside the container */
.content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit the width of the form */
}

/* Logo styling */
.logo-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Title styling */
.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

/* Input field styling */
.input-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-label {
    font-size: 1.2em;
    color: #555;
}

.input-field {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.submit-button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #0056b3;
    }
